h1{
    text-align: center;
    
}
nav {
    
    font-size: 30px; 
    display: flex;

  }

  nav > a {
      position: relative;
      flex: 1;
      text-align: center;
      color: white;
  }
  

  body{
      background-repeat: no-repeat;
      background-size: 1400px 700px;

  }