h1{
    text-align: center;
    
}
nav {
    
    font-size: 30px; 
  }

  nav > a {
      display: flex;
      text-align: center;
  }
  

  body{
      background-repeat: no-repeat;
      background-size: 1400px 700px;

  }